.introContainer {
	opacity: 0;
	position: relative;
	z-index: -10;
	top: 200px;
	box-shadow: 0 0 20px black;
	border-radius: 5px;
	margin: 0 auto;
	background-color: #fff;
	height: 1300px;
	width: 80%;
}

.schedule {
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	text-align: center;
	padding-top: 30px;
}

.first-img {
	margin-top: 20px;
	box-shadow: 0 0 20px black;
	border-radius: 5px;
	width: 400px;
	text-align: center;
}

.first-img-container {
	text-align: center;
}

.intro-text {
	font-family: 'Sacramento', cursive;
	padding-top: 20px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.display {
	position: fixed;
}