.cheers {
	width: 280px;
}

.gettingMarried {
	opacity: 0;
	width: 160px;
}

.leftSide {
	display: inline-block;
	width: 576px;
	position: relative;
	top: 40px;	
	text-align: center;
}

.rightSide {
	padding-top: 30px;
	float: left;
	display: inline-block;
	width: 576px;
	position: absolute;	
	text-align: center;
}

.firstFadeLeft {
	font-family: 'Lora', serif;
}

.firstFadeRight {
	font-weight: bold;
	font-family: 'Lora', serif;
}

.hearts {
	width: 160px;
}
.couple {
	width: 160px;
}

.cheers,
.firstSplit,
.ourWedding,
.dateFirst,
.timeFirst,
.where,
.attire,
.attireInfo,
.hearts,
.couple,
.where2,
.comeMingle,
.cocktail,
.cocktailTime,
	 {
	opacity: 0;
}

.hearts,.where,.attireInfo,.attire {
	animation-delay: .250s;
}

.comeMingle {
	margin: 0 auto;
	width: 80%;
}

.vtLine {
	height: 400px;
	width: 2px;
	opacity: 0;
	position: absolute;
	left: 576px;
	top: 500px;
	fill: #fff;
	stroke: rgb(166, 172, 175);
	stroke-width: 2;
}

.vtLine2 {
	opacity: 0;
	position: absolute;
	left: 576px;
	top: 800px;
	fill: #fff;
	stroke: rgb(166, 172, 175);
	stroke-width: 2;
}

