<div class="outer">
	<div class="footerContainer">
		<div class="left">
			<h3 class="designed">Designed By:</h3>
			<h1 class="site">SamRAlmeida.com</h1>
		</div>

		<svg class="footerLine" height="85" width="2">
	 		<polyline points=" 0,0 0,500"/>
		</svg>

		<div class="right">
			<p>If you like what you see please submit <br />
			your email below for more information on website designs.</p>
			<label for="emal">Email:</label>
			<input type="text">
			<botton class="submit">Submit</botton>
		</div>

		<h4 class="copyright">Copyright 2017 &copy SamRAlmeida.com | All Rights Reserved.</h4>

	</div>
</div>
